<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Checked in Vehicles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <app-users></app-users> -->

  <!-- <div>
    <ion-grid class="ion-text-center">
      <ion-row class="ion-text-center">
        <ion-col class="ion-text-center ion-justify-content-center">
          <ion-button (click)="setVehInfo()">Set Veh Info</ion-button>
        </ion-col>
        <ion-col class="ion-text-center ion-justify-content-center">
          <ion-button (click)="sendMessage()">Send Message</ion-button>
        </ion-col>
        <ion-col class="ion-text-center ion-justify-content-center">
          <ion-button (click)="getData()">Get Data</ion-button>
        </ion-col>
        <ion-col class="ion-text-center ion-justify-content-center">
          <ion-input label="hat#" labelPlacement="floating" #input type="number"></ion-input>
          <ion-button (click)="checkin(input.value)">Check In</ion-button>
          <ion-button (click)="remove(input.value)">Remove</ion-button>
        </ion-col>
        <ion-col class="ion-text-center ion-justify-content-center">
          <ion-button [disabled]="!readyToPrint" (click)="testPrint()">Test Print</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div> -->

  <div class="fulheight xc">
    <ion-accordion-group class="floating-object">
      <ion-accordion *ngFor="let i of vehicleService.vehicleKeys" [value]="i">
        <div slot="header" style="border: 2px solid blue">
          <ion-row>
            <ion-col>Hat# {{vehicleService.vehicles[i]["hat"]}}</ion-col>
            <ion-col>Year: {{vehicleService.vehicles[i]["year"]}}</ion-col>
            <ion-col>Make: {{vehicleService.vehicles[i]["make"]}}</ion-col>
            <ion-col>Model: {{vehicleService.vehicles[i]["model"]}}</ion-col>
          </ion-row>
        </div>
        <div slot="content" style="border: 2px solid blue">
          <ion-row>
            <ion-col>License# ({{vehicleService.vehicles[i]["state"]}}) {{vehicleService.vehicles[i]["license"]}}</ion-col>
            <ion-col>Vin: {{vehicleService.vehicles[i]["vin"]}}</ion-col>
            <ion-col>Milage: {{vehicleService.vehicles[i]["mileage"]}}</ion-col>
            <ion-col>
              <ion-button shape="round" (click)="remove(i)" >
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
</ion-content>
